<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ settings.title }}</title>
    <meta name="description" content="{{ settings.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">    
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ settings.url }}">
    <meta property="og:site_name" content="{{ settings.name }}">
    <meta property="og:locale" content="{{ settings.locale }}">
    <meta property="og:title" content="{{ settings.title }}">
    <meta property="og:description" content="{{ settings.description }}">
    <meta property="og:image" content="{{ settings.image }}">
    <meta property="og:image:width" content="{{ settings.width }}">
    <meta property="og:image:height" content="{{ settings.height }}">
    <meta property="og:image:alt" content="{{ settings.alt }}">
    <link rel="stylesheet" href="/static/css/style.css">
    {% if script %}
      <script defer src="/static/js/{{ script }}"></script>
    {% endif %}
  </head>
  <body class="{{ title | slugify }}">
    <header>
      <a href="/"><img src="{{ settings.logo }}" alt="{{ settings.name }}" /></a>
      <nav aria-label="Main">
        <ul>
          {% for item in collections.all | eleventyNavigation %}
            <li><a href="{{ item.url }}">{{ item.title  }}</a></li>
          {% endfor %}     
        </ul>
      </nav>
    </header>
    <main>
      {% if title  %}
        <h1>
          {{ title }}
        </h1>
      {% endif %}
      {{ content | safe }}
    </main>
    {% if footerlinks.links %}
      <footer>
        <ul>
          {% for item in footerlinks.links %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
              <p>{{ item.desc }}</p>
            </li>
          {% endfor %}
        </ul>
      </footer>
    {% endif %}
  </body>
</html>