{% set postslist = collections.post %}

length: {{ postslist.length}}

{% if postslist | length > 0 %}
  <section>
    {% for post in postslist | reverse %}
        <article>
            <h2>
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p>
                <time>
                    {{ post.date | readableDate }}
                    by
                    <a>{{ post.data.author }}</a>

                </time>
            </p>
            {% if post.data.description %}
                <p>
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}">
                    Read more →
                </a>
            </p>
          </article>
      {% endfor %}
  </section>
{% endif %}
